<p style="color: green"><%= notice %></p>


<h4>Profile Info</h4>

<%= render @user %>

<hr>

<h5>Microposts</h5>

<div id="microposts">
  <% @user.microposts.each do |micropost| %>
    <div class="row">
      <div class="card">
        <div class="card-content">
          <%= micropost.content %>
          
          <%= link_to "(Source)", micropost, :style => "float: right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
