<p style="color: green"><%= notice %></p>

<h4>Profile Info</h4>
<%= render @user %>


<%= link_to "Edit", edit_user_path(@user) %> 
<%= button_to "Delete", @user, method: :delete %>
<hr>

<h5>User Microposts</h5>

<% @user.microposts.each do |micropost| %>
  <div class="micropost">
      <p>
      <span class="micropost-data"><%= "#{micropost.created_at.strftime('%d %b - (%H:%M) ') }" %></span><%= micropost.content %>
      <%= link_to "(Source)", micropost, :style => "float: right" %>
      </p>
  </div>
<% end %>
